openapi: 3.1.0
info:
  title: Execution Hub V2 API Contract
  version: 0.1.0
  description: |
    Contract-first API for signal ingestion, broker execution sync, and admin management.
servers:
  - url: https://trade.mozasolution.com/webhook
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    SignalIngestRequest:
      type: object
      required: [symbol, side]
      properties:
        external_signal_id: { type: string }
        symbol: { type: string }
        side: { type: string, enum: [BUY, SELL] }
        entry: { type: number }
        sl: { type: number }
        tp: { type: number }
        signal_tf: { type: string, description: "numeric-like string e.g. 1,15,60,240" }
        chart_tf: { type: string, description: "numeric-like string e.g. 1,15,60,240" }
        note: { type: string }
        payload_json: { type: object, additionalProperties: true }
    SignalIngestResponse:
      type: object
      required: [ok, signal_id, fanout_count]
      properties:
        ok: { type: boolean }
        signal_id: { type: string }
        fanout_count: { type: integer, minimum: 0 }
    BrokerPullRequest:
      type: object
      properties:
        max_items: { type: integer, minimum: 1, maximum: 100, default: 1 }
    BrokerPullItem:
      type: object
      required: [trade_id, lease_token, lease_expires_at, account_id, symbol, side]
      properties:
        trade_id: { type: string }
        lease_token: { type: string }
        lease_expires_at: { type: string, format: date-time }
        account_id: { type: string }
        signal_id: { type: string, nullable: true }
        source_id: { type: string, nullable: true }
        symbol: { type: string }
        side: { type: string }
        intent_entry: { type: number, nullable: true }
        intent_sl: { type: number, nullable: true }
        intent_tp: { type: number, nullable: true }
        intent_volume: { type: number, nullable: true }
        intent_note: { type: string, nullable: true }
        metadata: { type: object, additionalProperties: true, nullable: true }
    BrokerPullResponse:
      type: object
      required: [ok, items]
      properties:
        ok: { type: boolean }
        items:
          type: array
          items: { $ref: '#/components/schemas/BrokerPullItem' }
    BrokerAckRequest:
      type: object
      required: [trade_id, lease_token, execution_status]
      properties:
        trade_id: { type: string }
        lease_token: { type: string }
        execution_status: { type: string, enum: [PENDING, OPEN, CLOSED, REJECTED] }
        close_reason: { type: string, enum: [TP, SL, MANUAL, CANCEL, EXPIRED, FAIL], nullable: true }
        broker_trade_id: { type: string, nullable: true }
        broker_order_id: { type: string, nullable: true }
        entry_exec: { type: number, nullable: true }
        sl_exec: { type: number, nullable: true }
        tp_exec: { type: number, nullable: true }
        opened_at: { type: string, format: date-time, nullable: true }
        closed_at: { type: string, format: date-time, nullable: true }
        pnl_realized: { type: number, nullable: true }
        error_code: { type: string, nullable: true }
        error_message: { type: string, nullable: true }
        event_type: { type: string, default: ACK }
        event_time: { type: string, format: date-time }
        idempotency_key: { type: string }
        payload_json: { type: object, additionalProperties: true }
    BrokerAckResponse:
      type: object
      required: [ok, dispatch_status, execution_status]
      properties:
        ok: { type: boolean }
        dispatch_status: { type: string, enum: [NEW, LEASED, CONSUMED] }
        execution_status: { type: string, enum: [PENDING, OPEN, CLOSED, REJECTED] }
    BrokerTradeCreateRequest:
      type: object
      required: [symbol, side, execution_status]
      properties:
        source_id: { type: string, nullable: true }
        signal_id: { type: string, nullable: true }
        symbol: { type: string }
        side: { type: string }
        intent_entry: { type: number, nullable: true }
        intent_sl: { type: number, nullable: true }
        intent_tp: { type: number, nullable: true }
        intent_volume: { type: number, nullable: true }
        intent_note: { type: string, nullable: true }
        execution_status: { type: string, enum: [PENDING, OPEN, CLOSED, REJECTED] }
        broker_trade_id: { type: string, nullable: true }
        broker_order_id: { type: string, nullable: true }
        entry_exec: { type: number, nullable: true }
        sl_exec: { type: number, nullable: true }
        tp_exec: { type: number, nullable: true }
        opened_at: { type: string, format: date-time, nullable: true }
        closed_at: { type: string, format: date-time, nullable: true }
        pnl_realized: { type: number, nullable: true }
        payload_json: { type: object, additionalProperties: true }
    BrokerTradeCreateResponse:
      type: object
      required: [ok, trade_id]
      properties:
        ok: { type: boolean }
        trade_id: { type: string }
    SubscriptionItem:
      type: object
      required: [source_id, is_active]
      properties:
        source_id: { type: string }
        is_active: { type: boolean }
        symbol_allowlist:
          type: array
          items: { type: string }
          nullable: true
        strategy_allowlist:
          type: array
          items: { type: string }
          nullable: true
paths:
  /v2/sources/{source_id}/signals:
    post:
      summary: Ingest one signal and fan-out trades to subscribed accounts.
      parameters:
        - name: source_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SignalIngestRequest' }
      responses:
        '200':
          description: Accepted and fan-out complete.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SignalIngestResponse' }
  /v2/broker/pull:
    post:
      summary: Pull NEW trades for authenticated account and lease them.
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BrokerPullRequest' }
      responses:
        '200':
          description: Pull result.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BrokerPullResponse' }
  /v2/broker/ack:
    post:
      summary: Ack/update trade execution state by lease token.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BrokerAckRequest' }
      responses:
        '200':
          description: Ack accepted.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BrokerAckResponse' }
  /v2/broker/sync:
    post:
      summary: Reconcile broker active positions/orders with VPS view.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                snapshot_time: { type: string, format: date-time }
                positions:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                orders:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
      responses:
        '200':
          description: Reconciliation result.
  /v2/broker/heartbeat:
    post:
      summary: Broker online heartbeat with runtime metadata.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                broker_id: { type: string }
                now: { type: string, format: date-time }
                metadata: { type: object, additionalProperties: true }
      responses:
        '200':
          description: Heartbeat accepted.
  /v2/broker/trades/create:
    post:
      summary: Create broker-originated trade (signal_id/source_id nullable).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BrokerTradeCreateRequest' }
      responses:
        '200':
          description: Trade created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BrokerTradeCreateResponse' }
  /v2/accounts/{account_id}/subscriptions:
    get:
      summary: Get account source subscriptions.
      parameters:
        - name: account_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Subscription list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/SubscriptionItem' }
    put:
      summary: Replace account source subscriptions.
      parameters:
        - name: account_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [items]
              properties:
                items:
                  type: array
                  items: { $ref: '#/components/schemas/SubscriptionItem' }
      responses:
        '200':
          description: Updated.
  /v2/accounts/{account_id}/api-key/rotate:
    post:
      summary: Rotate account api key.
      parameters:
        - name: account_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Rotated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  account_id: { type: string }
                  api_key_plaintext: { type: string, description: "returned once" }
  /v2/trades:
    get:
      summary: Search trades for admin UI.
      parameters:
        - name: account_id
          in: query
          schema: { type: string }
        - name: source_id
          in: query
          schema: { type: string }
        - name: broker_id
          in: query
          schema: { type: string }
        - name: dispatch_status
          in: query
          schema: { type: string }
        - name: execution_status
          in: query
          schema: { type: string }
        - name: page
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
        - name: page_size
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
      responses:
        '200':
          description: Trade page.
  /v2/trades/{trade_id}/events:
    get:
      summary: Get one trade event timeline.
      parameters:
        - name: trade_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Event list.
